.news-item{
  padding: 10px 10px;
  margin: 10px 0;
  background: var(--light-blue);
  border-radius: 5px;
  background: var(--transparent);
  a{
    text-decoration: none;
    .image-container{
      height: 0;
      background-position: center;
      background-size: cover;
      padding-bottom: 55%;
      border-radius: 6px;
      transition: all 0.4s;
      -webkit-transition: all 0.4s;
      -moz-transition: all 0.4s;
      -ms-transition: all 0.4s;
      -o-transition: all 0.4s;
  
      transition:transform 0.2s linear;
    }

    h4{
      font-size: 16px;
    }

    h3{
      span{
        color: var(--blue);
      }
    }
  }


  &:hover{
    a{
      
      .image-container{
        transform: scale(1.02,1.02);
      }

      h4{
        text-decoration: none;
      }

      h3{
        text-decoration: underline;
      }
    }

  }
}

.date {
  float: right;
}