.contact{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    form{
        width:100%;
        max-width: 600px;
        font-weight: 400;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        flex: 1;
        
        div{
            width: 100%;
            display: flex;
            gap: 10px;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            position: relative;
        }

        input, textarea{
          height: 50px;
          position: relative;
          border: none;
          padding: 10px 12px;
          width: 100%;
          border-radius: 6px;
          appearance: none;
          -moz-appearance: none;
          -webkit-appearance: none;
          -ms-appearance: none;
          -o-appearance: none;
          box-shadow: var(--shadow);
          transition: all 0.4s;
          -webkit-transition: all 0.4s;
          -moz-transition: all 0.4s;
          -ms-transition: all 0.4s;
          -o-transition: all 0.4s;
        }
        

        textarea{
            max-width: 600px;
            min-height: 200px;
            @media screen and (max-width: 569px) {
              width: 100%;
            }
        }
    }

    @media screen and (max-width: 693px){
      .wrapper{
        flex-direction: column;
        justify-content: center;
      }
    }
}
