.single-news{
    width: 100%;
    min-height: calc(100vh - 95px);
    display: flex;
    align-items: start;
    justify-content: space-between;
    padding: 10px 5px;
    gap: 10px;
    position: relative;
    flex-wrap: wrap;

    background: linear-gradient(to bottom, var(--transparent), var(--lite),  var(--transparent),  var(--light-blue));
    .scroll-line{
        left: 0;
        top: 0px;
        z-index: 1;
        margin-top: 95px;
        height: 3px;
        background: var(--dark-blue);
        margin-bottom: -30px;
        width: 0%;
        position: fixed;
    }
    .wrapper{
        width: 100%;
        height: max-content;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        gap: 10px;
        max-width: 1200px;
        flex: 2.5;

        img{
            width: 100%;
            max-height: 300px;
            border-radius: 6px;
            transition: all 0.4s;
            flex: 1;
            margin-top: 10px;
            border: 1px solid var(--transparent);
        }
        
        h2{
            text-align: start;
            color: var(--blue);
        }

        h4{
            width: 100%;
            gap: 5px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            a{
                color: var(--dark-blue);
            }
    
            *{
                padding: 3px 0;
                width: fit-content;
                text-decoration: none;
                font-size: 15px;
                font-weight: 400;
            }
            
            .category{
                border: 1px solid var(--light-grey);
                border-radius: 4px;
                text-align: center;
                padding: 3px 5px;
            }  
            .read {
              float: right;
              font-size: 14px;
              background: var(--light-blue);
              padding: 3px 3px;
              color: var(--dark-blue);
            }
        }
    }
    .sidebar{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        flex: 1;
        .news-items{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            overflow: scroll;
            overflow-x: hidden;
            scroll-snap-type: proximity;
            scroll-margin: 5px;
            &::-webkit-scrollbar{
                width: 1px;
                display: none;
            }
              
            &::-webkit-scrollbar-track{
                display: none;
            }
              
            &::-webkit-scrollbar-thumb{
                background: var(--dark-blue);
                border-radius: 2px;
            }
        }
    }

    @media screen and (max-width: 789px) {
        &{
            flex-direction: column;
            
            img{
                width: 100%;
                max-height: 250px;
                height: auto;
                min-width: none;
            }

            .sidebar{
            
                .news-items{
                    flex-direction: row;
                    justify-content: space-between;
                    .news-item{
                        width: calc((100% - 20px) / 2);
                        font-size: 16px;
                    }
                }
                .newsletter{
                    display: none;
                }
            }
        }
        @media screen and (max-width: 569px){
            &{
                .sidebar{
                    .news-items{
                        .news-item{
                            width: 100%;
                        }
                    }
                }
            }
        }
    }

}
