.product{
    width: calc((100% - 100px)  / 4);
    min-width: 290px;
    background: var(--lite);
    margin: 10px 0;
    border-radius: 5px;
    padding: 10px 10px;
    //box-shadow: 0px 5px 8px -3px var(--blue);
    box-shadow: var(--shadow);
    position: relative; 
    background: linear-gradient(60deg, var(--transparent), var(--light-blue));

    .odds{
        display: flex;
        align-items: center;
        justify-content: center;
        width: fit-content;
        background: var(--light-blue);
        border: 1px solid var(--dark-blue);
        font-weight: bold;
        padding: 5px 5px;
            .rate{
                height: inherit;
                margin-left: 5px;
                color: var(--dark-blue);
            }
    }

    .title{
        width: 100%;
        color: var(--dark);
        font-size: 18px;
    }
    
    .content{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        p{
            width: 100%;
            ul{
                width: 100%;
                list-style: square;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                li{
                    list-style-position: inside;
                }
            }
        }
    }

    .btn-container{
        width: 100%;
        padding: 5px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        .btn{
            border: 1px solid var(--dark-blue);
            background: var(--dark-blue);
            &:hover{
                color: var(--dark-blue);
                background: var(--lite);
            }
        }

        .span{
            background: var(--light-blue);
            border: none;
            padding: 5px 10px;
            font-weight: bold;
        }
    }

    @media screen and (max-width: 693px){
        &{
            width: 70%;
        }
    }

    @media screen and (max-width: 500px){
        &{
            width: 90%;
        }
    }


}