.pricing{
    width: 100%;
    //background: var(--light-color);
    padding: 10px 0;
    position: relative;

    .wrapper{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
        gap: 10px;

        > div{
            width: calc((100% - 100px)/ 3);
            min-width: 300px;
            height: inherit;
            box-shadow: var(--shadow);
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            padding: 10px 20px;
            position: relative;
            background: linear-gradient(to bottom, var(--lite), var(--light-blue));

            //background: var(--light-color);
            position: relative;
            border-radius: 10px;
            overflow: hidden;

            h1{
                color: var(--dark-blue);
            }


            h2{
                span{
                    font-size: 30px;
                    font-weight: bolder;
                }
            }
            ul{
                width: 100%;
                list-style-type: circle;
                //padding-left: 10px;
                list-style-position: inside;
                list-style-image: url('https://i.postimg.cc/R00sKW5z/bi-check-circle-fill.png');
                line-height: 2em;
            }

            img.table-bg {
                max-width: 100%;
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                width: 100%;
                object-fit: contain;
                object-position: center;
            }

            > .btn{
                z-index: 2;
                width: 100%;
                //padding: 8px 60px;
                //text-transform: uppercase;
            }
        }
    }
}


@media screen and (max-width: 660px) {
    .pricing-header {
        display: flex;
        flex-wrap: wrap;

        h2 {
            text-align: center;
        }

        .plans-switch-container {
            align-items: center;
            justify-content: center;
        }
    }
}